* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}


body {
    background: #2B1C2F;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.customBackgr {
    background-color: #2B1C2F;
}

.audio-recorder {
    background-color: rgb(88, 88, 91) !important;
    border: 0.01rem solid dimgrey !important;

}

.audio-recorder:hover {
    border-color: whitesmoke !important;
}

.centerRecord {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
}


#audio-recorder-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;

}

.audio-recorder {
    width: 55px !important;
    background-color: #143F46 !important;
}

.audio-recorder-mic {
    height: 30px !important;
    width: 30px !important;
    padding: 11px !important;
    color: deeppink !important;
    z-index: 1 !important;
}

.audio-recorder-timer, .audio-recorder-status {
    font-size: 24px !important;
}

.audio-recorder-options {
    height: 24px !important;
}

.customMenuButton {
    color: black !important;
    font-size: 2rem !important;
    background-color: #143F46 !important;
    border-radius: 0.5rem !important;
    left: -1rem !important;
    margin-top: 15rem !important;
    position: absolute;
}

.customMenuButton-icon {
    color: black;
    font-size: 15rem;
}

.customMenuButton:hover {
    background-color: #b28fd3 !important;
}

.settingsButton {
    background-color: #b28fd3 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0.8rem !important;
}

.css-1d6wzja-MuiButton-startIcon {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.MuiButton-startIcon {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.alignSettingsButton {
    display: flex;
    margin-right: 2rem;
    top: 1rem;
    right: 1rem;
    position: absolute;
}

.css-su28s1 {
    background-color: #143F46;
    border-radius: 1rem;
    border-color: black;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}

.MuiTypography-root {
    padding-top: 1rem !important;
}

#closeBtn {
    display: flex;
    justify-content: right;
    right: 0 !important;
}

.modal-modal-title {
    padding-top: 1rem;
}

.MuiButton-startIcon > *:nth-of-type(1) {
    font-size: 1.8rem !important;
    /*margin-top: 1rem;*/
}

.languageOptions, .roleOptions {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.optionButton, .okButton {
    background-color: black !important;
    border-radius: 1rem !important;
    color: white !important;
    margin-right: 1rem !important;
    margin-top: 0.5rem !important;
}

.optionButton:hover {
    background-color: #2B1C2F !important;
}

.okBtn {
    margin-top: 2.5rem !important;
    display: flex !important;
    justify-content: center !important;
}

.okButton:hover {
    background-color: #857d7d !important;
}